main{
    display: flex;
    justify-content: center;
}
.box{
    margin: auto;
    display: inline-block;
    background-color: beige;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}
#output{
    font-weight: bold;
    font-size: 5rem;
}
#no{
    color: red;
}
#yes{
    color: rgb(0, 255, 42);
}
